
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Ignore build files
package
**/build

# Ignore Mac files
**/.DS_Store
# Ignore Windows files
**/Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*





