.container {
  display: flex;
  flex-direction: column;
  margin: 0px auto 50px auto;
  padding: 30px 0 60px 0;
  width: 100%;
  height: 100px;

  box-shadow: 0.3px 0.2px 1px 0.2px rgba(120, 3, 3, 0.643);

  border-radius: 12px;
}
.container:hover {
  box-shadow: 0.3px 0.2px 1px 0.2px rgba(52, 120, 3, 0.643);
}

.container h2 {
  font-size: 1.3em;
  margin: 20px 0 20px 9%;
  color: rgb(7, 48, 66);
}

.word_count_input {
  width: calc(80%);
  margin: 0 auto 30px auto;
}
.slider {
  width: 80%;
  margin: 0 auto;
}
.button {
  margin: 30px auto 70px auto;
}

.switch_generator {
  display: block;
  text-align: center;
  font-size: 0.9em;
  margin: 50px auto 0 auto;
  width: 300px;
  color: rgb(41, 76, 119);
  user-select: none;
}
.switch_generator:hover {
  font-size: 0.95em;
  color: rgb(50, 100, 140);
}

.result_container {
  border-top: 0.1px solid rgb(210, 210, 210);
  width: 100%;
  margin: 100px auto 20px auto;
}
.result {
  text-align: center;
  padding: 20px 0;
  font-weight: 500;
  font-size: 1.2em;
  font-family: monospace;
  text-transform: capitalize;
  word-wrap: break-word;
  white-space: pre-wrap;
}
